
@{
    ViewBag.Title = "MyScore";
    Layout = "~/Views/header/SiteMaster.cshtml";
}

<div class="col-lg-6 col-md-6 col-sm-12">
    @using (Html.BeginForm("Addscore", "SD", FormMethod.Post))
    {
        <div class="navbar navbar-default">
            <div class="modal-header"><h3>ลงคะแนน S&D</h3> </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-lg-2 col-md-2 col-sm-2" for="workstatus"> Work Status</label>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <select class="form-control" name="WorkStatus" id="WorkStatus">
                                <option value="1">วันทำงาน</option>
                                <option value="2">วันหยุด</option>
                                <option value="3">วันลา</option>
                                <option value="4">N/A</option>
                            </select>
                        </div>
                        <label class="control-label col-lg-2 col-md-2 col-sm-2" for="workstatus"> สถานที่ </label>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <select class="form-control" name="Place" id="Place">
                                <option value="1">ห้อง TAC</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-lg-2 col-md-2 col-sm-2" for="workstatus">เวลาที่เริ่ม</label>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <select class="form-control" name="hrstart" id="hrstart">
                                <option>00</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                            </select>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <select class="form-control" name="minstart" id="mistart">
                                <option>00</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                                <option>32</option>
                                <option>33</option>
                                <option>34</option>
                                <option>35</option>
                                <option>36</option>
                                <option>37</option>
                                <option>38</option>
                                <option>39</option>
                                <option>40</option>
                                <option>41</option>
                                <option>42</option>
                                <option>43</option>
                                <option>44</option>
                                <option>45</option>
                                <option>46</option>
                                <option>47</option>
                                <option>48</option>
                                <option>49</option>
                                <option>50</option>
                                <option>51</option>
                                <option>52</option>
                                <option>53</option>
                                <option>54</option>
                                <option>55</option>
                                <option>56</option>
                                <option>57</option>
                                <option>58</option>
                                <option>59</option>
                            </select>
                        </div>
                        <label class="control-label col-lg-2 col-md-2 col-sm-2" for="workstatus">เวลาที่สิ้นสุด</label>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <select class="form-control" name="hrend" id="hrend">
                                <option>00</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <select class="form-control" name="minend" id="minend">
                                <option>00</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                                <option>32</option>
                                <option>33</option>
                                <option>34</option>
                                <option>35</option>
                                <option>36</option>
                                <option>37</option>
                                <option>38</option>
                                <option>39</option>
                                <option>40</option>
                                <option>41</option>
                                <option>42</option>
                                <option>43</option>
                                <option>44</option>
                                <option>45</option>
                                <option>46</option>
                                <option>47</option>
                                <option>48</option>
                                <option>49</option>
                                <option>50</option>
                                <option>51</option>
                                <option>52</option>
                                <option>53</option>
                                <option>54</option>
                                <option>55</option>
                                <option>56</option>
                                <option>57</option>
                                <option>58</option>
                                <option>59</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-group"><input type="submit" class="form-control btn-success" value="บันทึกข้อมูล" /></div>
            </div>


        </div>
        }
    </div>
<div class="col-lg-6 col-md-6 col-sm-12">
    <div style="overflow:auto;height:640px">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align:center">No.</th>
                        <th style="text-align:center">วันที่</th>
                        <th style="text-align:center">เวลาเริ่มต้น</th>
                        <th style="text-align:center">เวลาสิ้นสุด</th>
                        <th style="text-align:center">เวลารวม(นาที)</th>
                        <th style="text-align:center">สถานที่</th>
                        <th style="text-align:center">Work Status</th>
                    </tr>
                </thead>
                <tbody style="text-align:center;">
                    @{int rowNo = 0;}
                    @if (ViewBag.Allscore != null)
                    {
                        foreach (var score in ViewBag.Allscore)
                        {
                            <tr>
                                <td>@{rowNo++;} @rowNo</td>
                                <td>@score.SD_FDateScore.ToString("dd/MM/yyyy")</td>
                                <td>@score.SD_TimeStart.ToString("HH:MM")</td>
                                <td>@score.SD_TimeEnd.ToString("HH:MM")</td>
                                <td>@score.SD_TotalTime</td>
                                @if (@score.SD_Location == 1)
                                {
                                    <td>วันทำงาน</td>
                                }
                                else if (@score.SD_Location == 2)
                                {
                                    <td>นอกเวลาทำงาน</td>
                                }
                                else if (@score.SD_Location == 3)
                                {
                                    <td>วันหยุด</td>
                                }
                                else if (@score.SD_Location == 4)
                                {
                                    <td>วันลา</td>
                                }
                                else
                                {
                                    <td>N/A</td>
                                }


                                @if (@score.SD_WorkHour == 1)
                                {
                                    <td>
                                        ห้อง TAC
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        นอกสถานที่
                                    </td>
                                }

                            </tr>
                                        }
                                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
