
@{
    ViewBag.Title = "MyScore";
    Layout = "~/Views/header/SiteMaster.cshtml";
}

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3" for="workstatus"> Work Status :</label>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <select class="form-control" id="WorkStatus">
                            <option>วันทำงาน</option>
                            <option>วันหยุด</option>
                            <option>วันลา</option>
                            <option>N/A</option>
                        </select>
                    </div>
                    <label class="control-label col-lg-3 col-md-3 col-sm-3" for="workstatus"> สถานที่  :</label>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <select class="form-control" id="Place">
                            <option>ห้อง TAC</option>
                        </select>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3" for="workstatus">เวลาที่เริ่ม</label>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <select id="hrstart">
                            <option>00</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                        </select>
                        :
                        <select id="mistart">
                            <option>00</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                            <option>32</option>
                            <option>33</option>
                            <option>34</option>
                            <option>35</option>
                            <option>36</option>
                            <option>37</option>
                            <option>38</option>
                            <option>39</option>
                            <option>40</option>
                            <option>41</option>
                            <option>42</option>
                            <option>43</option>
                            <option>44</option>
                            <option>45</option>
                            <option>46</option>
                            <option>47</option>
                            <option>48</option>
                            <option>49</option>
                            <option>50</option>
                            <option>51</option>
                            <option>52</option>
                            <option>53</option>
                            <option>54</option>
                            <option>55</option>
                            <option>56</option>
                            <option>57</option>
                            <option>58</option>
                            <option>59</option>
                        </select>
                    </div>
                    <label class="control-label col-lg-3 col-md-3 col-sm-3" for="workstatus">เวลาที่สิ้นสุด</label>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <select id="hrstart">
                            <option>00</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                        </select>
                        :
                        <select id="mistart">
                            <option>00</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                            <option>32</option>
                            <option>33</option>
                            <option>34</option>
                            <option>35</option>
                            <option>36</option>
                            <option>37</option>
                            <option>38</option>
                            <option>39</option>
                            <option>40</option>
                            <option>41</option>
                            <option>42</option>
                            <option>43</option>
                            <option>44</option>
                            <option>45</option>
                            <option>46</option>
                            <option>47</option>
                            <option>48</option>
                            <option>49</option>
                            <option>50</option>
                            <option>51</option>
                            <option>52</option>
                            <option>53</option>
                            <option>54</option>
                            <option>55</option>
                            <option>56</option>
                            <option>57</option>
                            <option>58</option>
                            <option>59</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @model IEnumerable<NewSD.Models.Score>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div style="overflow:auto;height:640px">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>วันที่</th>
                            <th>เวลาเริ่มต้น</th>
                            <th>เวลาสิ้นสุด</th>
                            <th>เวลารวม(นาที)</th>
                            <th>สถานที่</th>
                            <th>Work Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int rowNo = 0;}
                        @if (Model != null)
                        {
                            foreach (var score in Model)
                            {

                                <tr>
                                    <td>@{rowNo++;} @rowNo</td>
                                    <td>@score.SD_FDateScore</td>
                                    <td>@score.SD_TimeStart</td>
                                    <td>@score.SD_TimeEnd</td>
                                    <td>@score.SD_TotalTime</td>
                                    <td>@score.SD_Location</td>
                                    <td>@score.SD_WorkHour</td>
                            </tr>

                                            }
                                        }

                    </tbody>
                </table>
            </div>
        </div>
</div>



